# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build Output
/.next/
/out/

# Production Build
/build
/dist

# SQLite Database & Local Data
*.db
*.db-journal
/prisma/*.db
/prisma/*.db-journal

# Environment Variables & Secrets
.env
.env*.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# TypeScript build info
*.tsbuildinfo
next-env.d.ts
